[Desktop Entry]
Name=WezTerm GTK
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=wezterm
Exec=env WAYLAND_DISPLAY=wayland-1 wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
