[Unit]
Description=Random wallpaper switch

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'gsettings set org.gnome.desktop.background picture-uri file://"$(ls ~/Pictures/WallPaper/* | shuf | head -n 1)"'
