[Desktop Entry]
Type=Application
Exec=.config/conky/start_conky.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conky start
Name=Conky start
Comment[en_US]=Conky
Comment=Conky
