[Desktop Entry]
Type=Application
Exec=.config/conky/start_conky.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Conky auto start
Name=Conky auto start
Comment[en_US]=Conky
Comment=Conky
