@charset "UTF-8";

@-moz-document domain("www.bbc.com") {
  li {
    color: red;
  }
}

@-moz-document domain("twitter.com") {
  div.css-1dbjc4n {
    color: red;
    background: black;
  }

}

@-moz-document url-prefix("about:newtab"), url-prefix("about:home") {
  body {
    /* background-size: cover !important; */
    /* background-image: url("file:///home/bmkazuya/Pictures/IMG_2162.JPG") !important; */
  }
}

